.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
env_setup.sh
*.pem
yna-int
yna-int.pub
terraform/lambdas/PIL/
terraform/.terraform.lock.hcl
terraform/lambdas/PIL
*.zip
ssh
ssh/
website/vendor/